body{
	color: #333;
}
.news-main{
	 min-height: 300px; 	
}


/*充值*/
.pay_box{ height:auto; min-height:440px;overflow: hidden; width:1104px;margin:0 auto 0px;padding: 10px 0;background: #fff;}
/*充值左侧*/
.account_block_l{ 
	width:210px; 
	height:1050px; 
	padding:25px 40px 25px 25px; 
	overflow:hidden;
	background:url(../img/pay/lbg.png) right 0px repeat-y; 
}
.account_block_r{ width:809px; height:auto; overflow:hidden;}
.account_block_l .tt{ line-height:50px; height:50px; width:100%; text-align:center; color:#555; font-size:33px;}
.account_block_l .tipstt{ width:100%; height:30px; line-height:30px; text-align:center; color:#CCC; font-size:13px;}
.account_block_l .pay_way{ width:220px; height:auto; overflow:hidden; margin-top:30px;}
.account_block_l .pay_way li{ 
	width:170px; 
	height:90px; 
	float:left; 
	overflow:hidden;
	text-align: center;
	padding: 15px 0 10px;
	margin: 0 25px 10px;
}
.account_block_l .pay_way li.click{
	background: #f1f1f1;
}
.account_block_l .pay_way li .pic{ width:105px; height:64px; margin: 0 auto;}
.account_block_l .pay_way li .pic a{ width:100%; height:100%; display:block;}
.account_block_l .pay_way li .txt{ height:26px; text-align:center; color:#424242;font-size: 14px;margin-top: 5px;}

/*充值右侧*/
.account_block_r{
	width: 675px;
	padding:25px;
	padding-left: 0;
}
.account_block_r ol{
	/*height: 45px;*/
	line-height: 45px;
}
.account_block_r ol h5{
	float: left;
	width: 115px;
	text-align: right;
	font-weight: normal;
	font-size: 13px;
}
.account_block_r ol h3{
	margin-left: 13px;
	font-size: 18px;
	float: left;
	color: #e41111;
}

/*充值对象*/
.tab-box-select{
	float: left;
	height:45px;
	line-height:45px;
}
.tab-box-select li{
	float: left;
}
.tab-box-select li a{
	margin:3px 0 0 13px;
	width: 78px;
	height: 34px;
	line-height: 36px;
	text-align: center;
	background:#fafafa;
	border-radius: 4px;
	border: 1px solid #d1d1d1;
	font-size: 12px;
	display: block;
}
.tab-box-select li a:hover{
	color:#;
}
.tab-box-select li .selected{
	background:#2b9af6;	
	border: 1px solid #2b9af6;	
	color: #fff;
}
.tab_box_con{width: 100%; height: 100%;font-size: 13px;}
.tab-box-title{
	width: 116px;
	height:45px; 
	line-height:45px;
	text-align: right;
	float: left;
}
.tab_box_con{
	height:45px; 
	line-height:45px;
}
.tab_box_con .input,.card-input {
    height: 16px;
    float: left;
    padding: 8px 5px;
    vertical-align: middle;
    width: 251px;
    border: 1px solid #d1d1d1;
    background-color: #fff;
    color: #333;
    margin:5px 0 0 13px;
}
.sure_btn{
	padding:3px 25px; 
	font-size:14px;
	background: #fd7921;
	border: 0;
	height: 34px;
	color: #fff;
	cursor: pointer;
	outline: none;
	border-radius: 4px;
}
.sure_btn:hover,.confirm_btn:hover{ background-color:#ff8523;}
.tab_box_con .sure_btn{
	float: left;
	margin: 5px 0 0 13px;
}

/*选择银行*/
.bank-select{
	float: left;
	width: 560px;
	margin-bottom: 10px;
}
.bank-select li{
	float: left;
	margin:5px 0 0 13px;
	width: 115px;
	height: 36px; 
	border: 1px solid #d1d1d1; 
	cursor: pointer;
	line-height: 34px;
	position: relative;
}
.bank-select li img{
	float: left;
	margin: 1px 6px 0 3px;
}
.bank-select li span {
	float: left;
	border: 1px solid #fff; 
}
.bank-select li.checked{
	border-color: #0080ff;
}
.bank-select li.checked i{
	width:14px;
	height: 13px;
	background: url(../img/pay/selectMark.png) no-repeat;
	position:absolute; 
	right:0;
	bottom:0;
}

.bank-select .ICBC span {background-position: 0px 0;}
.bank-select .CMB span {background-position: 5px -34px;}
.bank-select .BOC span {background-position: 5px -68px;}
.bank-select .BCOM span {background-position: 5px -102px;}
.bank-select .CCB span {background-position: 5px -136px;}
.bank-select .ABC span {background-position: 5px -170px;}
.bank-select .PSBC span {background-position: 5px -204px;}
.bank-select .CEB span {background-position: 5px -238px;}
.bank-select .CIB span {background-position: 5px -272px;}
.bank-select .GDB span {background-position: 5px -306px;}
.bank-select .SPDB span {background-position: 5px -340px;}
.bank-select .CITIC span {background-position: 5px -374px;}
.bank-select .CMBC span {background-position: 5px -408px;}
.bank-select .CBHB span {background-position: 5px -442px;}
.bank-select .PAB span {background-position: 5px -476px;}
.bank-select .HXB span {background-position: 5px -510px;}
.bank-select .BEA span {background-position: 5px -544px;}
.bank-select .SRCB span {background-position: 5px -578px;}
.bank-select .SHB span {background-position: 5px -612px;}
.bank-select .NJCB span {background-position: 5px -646px;}
.bank-select .HSB span {background-position: 5px -680px;}
.bank-select .BJRCB span {background-position: 5px -714px;}
.bank-select .BOB span {background-position: 5px -748px;}
.bank-select .GZCB span {background-position: 5px -782px;}
.bank-select .CZB span {background-position: 5px -816px;}
.bank-select .HZB span {background-position: 5px -850px;}
.bank-select .NBCB span {background-position: 5px -884px;}
.bank-select .MOBILE span{background-position: 5px -1059px;}
.bank-select .UNICOM span{background-position: 5px -1095px;}
.bank-select .TELECOM span{background-position: 5px -1133px;}
.bank-select .JUNKA span{background-position: 1px -1167px;}
.bank-select .SHENDA span{background-position: 1px -1204px;}
.bank-select .WANGYI span{background-position: 1px -1238px;}
.bank-select .WANMEI span{background-position: 1px -1273px;}
.bank-select .QQ span{background-position: 1px -1311px;}
.bank-select .JIUYOU span{background-position: 1px -1346px;}
.bank-select .SHOUHU span{background-position: 1px -1384px;}
.bank-select .ZHENTU span{background-position: 1px -1428px;}
.bank-select .ZHIFUBAO span{background-position: 1px -1463px;}
.bank-select .WEIXIN span{background-position: 1px -1504px;}
.bank-select .PHONE span{background-position: 1px -1550px;}

/*充值金额*/
.card-box{
	margin-bottom: 5px;
}
.card-box ul{
	float: left;
	width: 100%;
}
.card-box p{
	color: red;
	margin-left: 13px;
	line-height: 24px;
}
.tab_box_con span{
	float: left;
	width: 560px;
}
.tab_box_con span li{
	position:relative;
	float: left;
	margin:5px 0 5px 13px;
	background-color: #fafafa;
	width: 78px;
	height: 34px; 
	border: 1px solid #d1d1d1; 
	cursor: pointer;
	line-height: 34px;
	text-align: center;
	border-radius: 4px;
}
.tab_box_con span li.checked{
	border: 1px solid #2b9af6; 
	background: #fff;	
}
.money-box .checked i{
	width: 14px;
    height: 13px;
    background: url(../img/pay/selectMark.png) no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}
.money-input{
	width: 68px;
	height: 34px; 
	border: 1px solid #d1d1d1;
	margin-left: 13px;
	border-radius: 4px;
	outline: none;
	padding-left: 10px;
}
.pay-btn{
	margin-left: 13px;
	margin-top: 10px;
	width: 173px;
	height: 38px;
	background: #fd7921;
	border: 0;
	color: #fff;
	cursor: pointer;
	outline: none;
	border-radius: 4px;
	font-size:14px;
}
.pay-btn:hover{ background-color:#ff8523;}

/*充值说明*/
.tip{
	width: 610px;
	float: right;
	margin-top: 15px;
	background: #fdfaf1;
	line-height: 28px;
	padding: 15px 20px;
	color: #7b7a7a;
	font-size: 14px;
}

.pay-tip{
	margin-left: 128px;
	color: red;
	line-height: 40px;
	margin-bottom: -5px;
}

/*支付成功*/
.success{
	width: 890px;
	height: 338px;
	border: 5px solid #e4e4e4;
	margin: 40px auto 10px;
	border-radius: 4px;	
	text-align: center;
	background: #fff;
}
.success-content{
	width: 560px;
	margin: 35px auto 0;
}
.success-content img{
	float: left;
	margin:20px 10px 0 35px;
}
.success-content table{
	float: left;
	font-size: 13px;
	margin-top: 15px;
}
.success-content table td{
	color: #333;
	line-height: 30px;
}
.success-content .success-title{
	font-size: 24px;
	margin: 35px auto 0;
	vertical-align: top;
	line-height: 41px;
	color: #ff8523;
	text-align: left;
    text-indent: 30px;
}
.success-content .gary{
	color: #666;
}
.orange{
	color: #ff8523;
	margin-right: 5px;
}
.success-btn{
	width: 294px;
	margin: 30px auto 0;
	height: 50px;
}
.success-btn a{
	display: block;
	float: left;
    width: 135px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    color: #fff;
    margin: 0 6px;
}
.bg-orange{
	background:#fd7921 ;
}
.bg-green{
	background:#2b9af6 ;
}

/*充值失败*/
.fail table{
	margin-top: 40px;
}
.fail img{
	margin-left: 50px;
}
.success-content .red{
	color: #d3152c;
}
.fail-tips{
	text-indent: 30px;
	font-size: 14px;
}