<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="Cater" connectionString="data source=D:\C-NET\xiaben\freshFile\dotnet\Itcast\asp.net-IIS-http\CaterUI\App_Data\ItcastCater.db;version=3;"/>
  </connectionStrings>
</configuration>