
@font-face {font-family: "iconfont";
        src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    }

    .iconfont {
        font-family:"iconfont" !important;
        font-size:16px;
        font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
    }

.icon-mima:before { content: "\e608"; }

.icon-qianbao:before { content: "\e62e"; }

.icon-icon:before { content: "\e605"; }

.icon-maichu:before { content: "\e621"; }

.icon-shouhuoren-copy:before { content: "\e601"; }

.icon-xiazai46:before { content: "\e61b"; }

.icon-zhanghao:before { content: "\e6a7"; }

.icon-chengjiaodingdan:before { content: "\e6cd"; }

.icon-xiaoxi:before { content: "\e67c"; }

.icon-release:before { content: "\e604"; }

.icon-qiandai:before { content: "\e63f"; }

.icon-shouye:before { content: "\e653"; }

.icon-wode:before { content: "\e655"; }

.icon-shouji:before { content: "\e61f"; }

.icon-tuichu1:before { content: "\e607"; }

.icon-tuichu:before { content: "\e60c"; }

.icon-bangding1:before { content: "\e6c9"; }

.icon-fabu_n:before { content: "\e635"; }

.icon-fabu:before { content: "\e64c"; }

.icon-guize:before { content: "\e649"; }

.icon-weixin4:before { content: "\e65b"; }

.icon-jia:before { content: "\e6c4"; }

.icon-weixin:before { content: "\e65a"; }

.icon-yinlian1:before { content: "\e620"; }

.icon-bangding:before { content: "\e61c"; }

.icon-chushou:before { content: "\e797"; }

.icon-iconfontrectangle390:before { content: "\e600"; }

.icon-maichu2:before { content: "\e602"; }

.icon-gouwuche:before { content: "\e603"; }

.icon-zhinan:before { content: "\e606"; }

.icon-maidao:before { content: "\e798"; }

