
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div> 
    </div>

    <script>

        //str1 === 23, 2, 4, 6, 9
        //str2 === 123, 2, 4, 6, 10
        //必需。要抽取的子串的起始下标。必须是数值  下标是从0开始 长度是实实在在的长度
        //看是看不明白的 弄一个简单的页面 弄一个小的项目 测试一下句可以了
        //第一个参数是字符串的下标 是从0开始的 每一个参数的意思返回意识I函数的名字 使用
        var str = "123,2,4,6,";
        str1 = str.substr(1, str.length-2);
        str2 = str.substr(0,str.length);
        console.log("str1===" + str1 + "===长度=="+ str1.length);
        console.log("str2===" + str2 + "====长度="+ str2.length);

         //str1 === 23, 2, 4, 6, 9
        //str2 === 123, 2, 4, 6, 10


    </script>
</body>
</html>
