<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.0.0" targetFramework="net48" />
  <package id="jQuery" version="3.0.0" targetFramework="net461" />
  <package id="jQuery.Validation" version="1.17.0" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net461" />
  <package id="SweetAlert" version="1.0.0" targetFramework="net461" />
</packages>