
@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户列表</title>
    @*<link href="~/Content/themes/metro/easyui.css" rel="stylesheet" />*@
    <link href="~/Content/themes/material/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/color.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/jquery.easyui-1.4.5.js"></script>
    <script src="~/Scripts/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

</head>
<body>
    <div class="container">
        用户名:<input type="text" id="txtSearchName" />&nbsp;&nbsp;
        备注:  <input type="text" id="txtSearchRemark" />
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px" id="btnSearch">搜索</a>
        <table id="tt" style="width: 700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit"></table>

    </div>

    <!--------------添加数据---------------------->
    @*这 dilog 就是一个div里面可以放置自己想要的的元素 里面都是会原模原样的输出出来
        做后台肯定是有一套主键 和插件 让我们使用 这个就是知道他的用户然后来使用就可以了

        其他的数据框能不能加一点样式 更加的统一一点

    *@


    <div id="addDiv" style="display:none;">
        @using (Ajax.BeginForm("AddUserInfo", "UserInfo", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAdd" }, new { id = "addForm" }))
        {
            <div style="width:290px;margin:5px auto;padding:5px 10px">
                <div style="margin-bottom:5px">
                    <div>用户名:</div>
                    <input type="text" name="UserName" class="easyui-textbox" data-options="required:true,validType:'length[3,10]'" style="width:100%;height:32px">
                </div>
                <div style="margin-bottom:5px">
                    <div>密码:</div>
                    <input type="password" name="UserPass" class="easyui-textbox" style="width:100%;height:32px" data-options="required:true,validType:'length[3,10]'">
                </div>
                <div style="margin-bottom:5px">
                    <div>邮箱:</div>
                    <input type="text" name="Email" class="easyui-textbox" style="width:100%;height:32px" data-options="prompt:'请输入邮箱.',required:true,validType:'email'">
                </div>
                <div style="margin-bottom:5px">
                    <div>角色:</div>
                    <select class="easyui-combobox" style="width:100%;height:32px">
                        <option value="请选择">请选择</option>
                        @*<option value="1">管理员</option>
                            <option value="2">技术总监</option>
                            <option value="3">财务总监</option>
                            <option value="4">客服</option>
                            <option value="5">采购</option>*@
                    </select>
                </div>
            </div>
        }
    </div>


    <div id="editDiv" style="display:none;">
        @using (Ajax.BeginForm("EditUserInfo", "UserInfo", new { }, new AjaxOptions() { HttpMethod = "post", OnBegin = "beforeEdit", OnSuccess = "afterEdit" }, new { id = "editForm" }))
        {
            <input type="hidden" name="ID" id="txtId" />
            <input type="hidden" name="RegTime" id="txtRegTime" />
            <input type="hidden" name="DelFlag" id="txtDelFlag" />
            <div style="width:230px;margin:5px auto;padding:5px 10px">
                <div style="margin-bottom:10px">
                    <div>用户名:</div>
                    <input id="txtUserName" type="text" name="UserName" class="easyui-textbox" data-options="required:true,validType:'length[3,10]'" style="width:100%;height:32px">
                </div>
                <div style="margin-bottom:10px">
                    <div>密码:</div>
                    <input id="txtUserPass" type="password" name="UserPass" class="easyui-textbox" style="width:100%;height:32px" data-options="required:true,validType:'length[3,10]'">
                </div>
                <div style="margin-bottom:10px">
                    <div>邮箱:</div>
                    <input id="txtEmail" type="text" name="Email" class="easyui-textbox" style="width:100%;height:32px" data-options="prompt:'请输入邮箱.',required:true,validType:'email'">
                </div>
                <div style="margin-bottom:5px">
                    <div>角色:</div>
                    <select class="easyui-combobox" style="width:100%;height:32px">

                        @*<option value="1">管理员</option>
                            <option value="2">技术总监</option>
                            <option value="3">财务总监</option>
                            <option value="4">客服</option>
                            <option value="5">采购</option>*@
                    </select>
                </div>
            </div>
        }
    </div>


    <!-------------------为用户分配角色---------------------->
    <div id="setUsrRoleDiv">
        <iframe id="setUserRoleFrame" style="width: 100%;height: 98%;" frameborder="0"></iframe>
    </div>
    <!--------------为用户分配权限------------------->
    <div id="setUsrActionDiv">
        <iframe id="setUserActionFrame" style="width: 100%;height: 98%;" frameborder="0"></iframe>
    </div>




    <script src="/Areas/Admin/Scripts/UserInfo.js"></script>


</body>
</html>
