USE [master]
GO
/****** Object:  Database [EFFristModel]    Script Date: 2019/5/9 11:36:51

可以把 一张表  过程 修改了哪些内容 都提取出来。
******/
CREATE DATABASE [EFFristModel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EFFristModel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EFFristModel.mdf' , SIZE = 9216KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EFFristModel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EFFristModel_log.ldf' , SIZE = 3072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EFFristModel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EFFristModel]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2019/5/9 11:36:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserPass] [nvarchar](50) NULL,
	[RegTime] [datetime] NULL,
 CONSTRAINT [PK_UserInfo_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
