<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    
    <!--生成的DBContext类名称必须和 数据的名称一致如何修改类的名称  类名称应该是就几个地方实例化 这个项目里面到用到不会太多
    这一步就先过了继续执行-->
    <add name="book_shop3Entities" connectionString="metadata=res://*/OAEntity.csdl|res://*/OAEntity.ssdl|res://*/OAEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=212.64.105.98;initial catalog=book_shop3;persist security info=True;user id=sa;password=I^OlRIE5deuaIS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>