
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

</head>
<body>
    <div> 

        <input id="btnGetDate" type="button" name="name" value="获取时间" />
        <hr />
        <input id="btnGetJson" type="button" name="name" value="获取json数据" />
        <hr />
        <input id="btnGetUserList" type="button" name="name" value="获取用户列表" />
        <div id="userbox"></div>
    </div>


    <script>
        $(function () {

            //点击按钮获取时间
            $("#btnGetDate").click(function () {
                $.post("/Ajax/GetDate", {}, function (data) {
                    alert(data);
                });
            });

            $("#btnGetJson").click(function () {
                $.post("/Ajax/GetJson", {}, function (data) {
                    alert(data);
                });
            });


            //Content-Type: text/html; charset=utf-8  计算机都是一步一步很严谨的执行的 就是
            //有些点 你没有get到
            $("#btnGetUserList").click(function () {
                $.post("/Ajax/GetList", {}, function (data) {
                    var data = $.parseJSON(data);
                    for (var i = 0; i < data.length; i++) {
                        $("#userbox").append("<tr><td>" + data[i].UserName + "<td><td>" +
                            data[i].UserPass + "</td>" + data[i].RegTime + "<td></td><td>" +
                            data[i].ID+"</td><tr>");
                    }
                    
                })
            })
        })


    </script>
</body>
</html>
