
@{
    ViewBag.Title = "ShowEdit";
}

<h2>ShowEdit</h2>

@using AppMvcWebForm.Models;
@{ 
    UserInfo user = (UserInfo)ViewData["userInfo"];
}
<form action="/UserInfo/Edit" method="post">


    用户名：<input type="text" name="userName" value="@user.UserName" />
    密码: <input type="text" name="userPwd" value="@user.UserPass" />
    邮箱：<input type="text" name="userEmail" value="@user.Email" />
    @*注册日期： <span> </span>*@
       <input type="hidden"  name="id" value="@user.ID" />
    <input type="submit" name="name" value="修改用户" />
</form>

