<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="file://ObjectSprintNet.xml"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <!--注意，对象定义中的type属性值必须是包含程序集名称在内的类型全名。同时
      ，我们给这个对象定义分配了一个惟一的id：MyMovieLister。在代码中，
      可以通过这个id从IApplicationContext中请求所定义的对象...-->
      <!-- using setter injection...
        第一个Person是要创建的对象 属性的名字  第二个对象是要引用的对象的类型名字
        -->
      <!--找到这个类是在那个程序集下面 那个命名空间下的类名 name取一个唯一的名字-->
      
      <!--<description>An  example that demonstrates simple IoC features.</description>

      
      <object name="UserInfoService"   type="SpringNetWin.UserInfoService, SpringNetWin">
       
        <property name="Name" value="DingXiaona"/>
        <property name="Person" ref="Person"/>
      </object>
      <object name="Person" type="SpringNetWin.Person, SpringNetWin">
        <property name="Age" value="21"></property>
      </object>-->
    </objects>
  </spring>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>