
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ValidateAddUser</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>


    @*表单验证的插件*@
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


    <style>

        /*//生成的提示都是一个格式  属性选择器的使用   mvc自带的表单验证的方法  其实就是 */ 
        .error{
            color:orangered;
            font-size:13;
        }


    </style>
    <script>
        //表单校验  定义一个规则的使用  默认的校验规则 有哪些  默认的提示有那一些 
        // 


        $(function () {


           
            $("#btnSubmit").click(function () {
                var form = $("#textForm");
                validateInfo(form);
                $("#textForm").submit();

            })
            

        })
        function validateInfo(control) {

            console.log(123);
            control.validate({//表示对哪个form表单进行校验，获取form标签的id属性的值
                rules: {//表示验证规则
                    UName: "required",//表示对哪个表单元素进行校验，要写具体的表单元素的name属性的值
                    Remark: {
                        required: true
                    },
                    UPwd: {
                        required: true,
                        minlength: 5
                    },
                    Sort: {
                        required: true
                    }
                },
                //默认的提示  
                messages: {
                    UName: "请输入用户名",
                    Remark: {
                        required: "请输入备注"
                    },
                    UPwd: {
                        //有两个错误提示  使用这个规则修改一下 配置配就能使用了
                        required: "请输入密码",
                        minlength: "密码不能小于{0}个字 符"
                    },
                    Sort: {
                        required: "请输入排序"
                    }
                }
                //修改默认的样式 都是别人做好的一些东西 如何来使用
            });
        }


    </script>
</head>
<body>
    <div> 
        jQueryValidate表单验证的插件使用
        <form action="/HtmlHelper/Index" method="post" id="textForm">  
            用户名:   <input type="text" name="UName" value="" />  <br />
            密码： <input type="text" name="UPwd" value="" />  <br />

            备注: <input type="text" name="Remark" value="" />  <br />
            排序: <input type="text" name="Sort" value="" />  <br />
                <input type="button" name="name" value="提交" id="btnSubmit" />
        </form>

    </div>
</body>
</html>
