<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
                <binding name="WeatherWSSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WeatherWSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3839/WebService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService1Soap" contract="ServiceReference1.WebService1Soap"
                name="WebService1Soap" />
          
            <endpoint address="http://www.webxml.com.cn/WebServices/WeatherWS.asmx"
                binding="customBinding" bindingConfiguration="WeatherWSSoap12"
                contract="ServiceReference2.WeatherWSSoap" name="WeatherWSSoap12" />
        </client>
    </system.serviceModel>
</configuration>
