@*@model AppMvcWebForm.Models.StudentInfo;*@


@*没有@page 一堆堆东西了*@

@{
    Layout = null;
}

<!DOCTYPE html>


@using System;


@*//就变成一个墙类型*@

@*//小写字符 加一个命名空间 加一个类型 就可以了 在页面可以更加的省事 少些很多的代码  *@


@model AppMvcWebForm.Models.UserInfo



@*布局页面的使用   一个一个的简单的点拼起来 也就不简单了*@

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        @for (int i = 0; i < 10; i++)
        {
            //@后面是服务端代码 输出也是 @ 全部搞定
            @i
        }
        @*而且都不需要结束的标记 就很轻松的搞定*@

        <hr />
        @{
            int a = 0;
            a++;

            //可以直接放置html的代码 ｛｝是一个代码段
            <span style="color:red">@a</span>

            var str = "<span style='color: red'>是否编码</span>";
            @str;

            //不要编码的输出
            @MvcHtmlString.Create(str);

            @ViewData.Model;

        }

        <hr />

        @*这个输出 都是<%:%> 都是会编码的  @输出   *@

        <hr />

        @*@@\\\  如果要转义输出 是当做字符串 而不是变量 两个@@*@


        <hr />

        注释 @**@  这个是注释

    </div>
</body>
</html>
