


@*看到这里也就明白 了 这个视图页面 会引用哪一个布局页面
然后就直接渲染页面也就搞定了 
重新定义了一下 标题的意思
    也是也是某一个类的输出 
    很多都是约定好的。会直接找到 视图文件夹下的某一个文件 
    mvc 肯定也是有很多稍微不太一样的地方
    要熟悉起来是用
    多敲代码

    页面也是非常的干净整洁 没有一点乱七八糟的东西
    使用了之后 用了一下 之后 也就明白了一些东西了
    
    *@
@{
    ViewBag.Title = "MyLayout";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section head{
    <script>
        $(function(){
        
            console.log("这里是头部的内容")
        
        })

    </script>    
    
}


<h2>MyLayout</h2>

<p>  这个内容 就会渲染在 RandBody()方法 的内容中 呈现在页面之上</p>



@section footer{
    <script>

        //这里放置底部的内容
    </script>
    
    
    }