
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>错误提示页面</title>
</head>
<body>
    <div> 
        @*服务器忙 请等待 5秒后跳转到首页

        //基本上要摒弃webfom vue anglar react 后台开发框架的使用 。
        //不是要开发这些组价 而是使用这些组件 结合这个组件到mvc的项目中开发*@

    </div>
</body>
</html>
