@{
    //ViewBag.Title = "Create";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- SEO -->
    <title>小小森 | 主页</title>
    <meta name="description"
          content="小小森主页" />
    <meta name="robots" content="Allen, 个人主页,小小森" />
    <meta name="referrer" content="always" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="favicon.ico" sizes="32x32">
    <!-- Styles -->
    <link rel='stylesheet' href='/MyPages/Intro/assets/css/split.css' type='text/css' media='screen' />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body id="fullsingle" class="page-template-page-fullsingle-split">
    <div class="fs-split">
       
        <div class="split-image ">
        </div>
        <!-- Content Side -->
        <div class="split-content">
            <div class="split-content-vertically-center">
                <div class="split-intro">
                    <h1>小小 森</h1>
                    <span class="tagline">.NET开发. 码农. 搬砖屌丝.</span>
                </div>
                <div class="split-bio">
                    <p>
                        我们在这个世界上只能生活几十年，虽然我们为不能活得更久而感到遗憾，
                        但我已经非常幸运，能够得到这么多东西了。整个宇宙只不过是一堆旋转的原子，
                        组成各种各样不同的东西，然后又消散。大多数原子，根本没有过生命。大多数原子没有成为人，
                        没有谈过恋爱，没有看过落日，没有吃过冰淇淋。我们非常幸运，能够作为一个人来到这个世界上。
                        在我看来，对待死亡正确的情绪不应该是恐惧和悲伤，而应该是感激我们有幸能拥有生命。
                        -- 摘抄。
                    </p>
                </div>
                <div class="split-lists">
                    <div class="split-list">
                        <h3>联系</h3>
                        <ul>
                            <li><a href="http://allen.tinnygod.com">博客</a></li>
                            <li><a href="mailto:hongjy1991@qq.com">邮箱</a></li>
                            <li><a href="https://www.tinnygod.com/123/index.html" target="_blank">导航</a></li>
                        </ul>
                    </div>
                    <div class="split-list">
                        <h3>社交</h3>
                        <ul>
                            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=806815027&site=qq&menu=yes" target="_blank">QQ</a></li>
                            <li><a href="https://twitter.com/hongjy1991">twitter</a></li>
                            <li><a href="https://github.com/AllenHongjun">Github</a></li>
                        </ul>
                    </div>
                    <div class="split-list">
                        <h3>热门</h3>
                        <ul>
                            <li><a href="https://toutiao.io/">头条</a></li>
                            <li><a href="https://docs.microsoft.com/zh-cn/">微软文档</a></li>
                            <li><a href="https://juejin.im/">掘金</a></li>
                        </ul>
                    </div>
                </div>
                <div class="split-credit">
                    <p>&copy;2019  <a href="http://www.beian.miit.gov.cn">浙ICP备18047156号</a>  <a href="#">Allen</a> </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>