@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>

    <link href="~/Content/themes/bootstrap/easyui.css" rel="stylesheet" />

    @*<link href="~/Content/themes/default/easyui.css" rel="stylesheet" />*@
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript">
        $(function () {
            bindClickEvent();
        });
        function bindClickEvent() {
            $(".detailLink").click(function () {
                var title = $(this).text();
                var url = $(this).attr("url");
                var isExt = $('#tt').tabs('exists', title);
                if (isExt) {
                    $('#tt').tabs('select', title);
                    return;
                }
                $('#tt').tabs('add', {
                    title: title,
                    content: showContent(url),
                    closable: true
                });

            });
        }
        function showContent(url) {
            var str = '<iframe src="' + url + '" width="100%" height="100%" frameborder="0"></iframe>';
            return str
        }
    </script>
    <style type="text/css">
        .txt {
            font-size: 20px;
            font-family: "微软雅黑";
            font-weight: bold;
            color: olive;
            margin-top: 10px;
            /*margin-left:100px;*/
            float: left;
        }
    </style>
</head>

<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:85px;background:#B3DFDA;padding:10px;overflow:hidden;background-image:url('/Content/Images/bg3.png')">
        @*<img src="/Content/Images/logo.gif" style="float:left" />*@
        <span class="txt" style="float:left">电子书城后台</span>

    </div>
    <div data-options="region:'west',split:true,title:'West'" style="width:150px;padding:3px;">

        <div class="easyui-accordion" style="width:auto;height:auto;">
            <div title="权限管理" data-options="iconCls:'icon-ok'" style="overflow:auto;padding:5px;">
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/UserInfo/Index">用户管理</a>
                </div>
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/RoleInfo/Index">角色管理</a>
                </div>
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/ActionInfo/Index">权限管理</a>
                </div>

            </div>
            <div title="商品管理" data-options="iconCls:'icon-ok'" style="padding:5px;">
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/ActionInfo/Index">商品管理</a>
                </div>
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/ActionInfo/Index">分类管理</a>
                </div>
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/ActionInfo/Index">标签管理</a>
                </div>
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/ActionInfo/Index">推荐商品管理</a>
                </div>




            </div>
            <div title="会员管理" data-options="iconCls:'icon-ok'" style="padding:5px;">
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/ActionInfo/Index">商品管理</a>
                </div>
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/ActionInfo/Index">分类管理</a>
                </div>
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/ActionInfo/Index">标签管理</a>
                </div>
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/ActionInfo/Index">推荐商品管理</a>
                </div>




            </div>
            <div title="订单管理" data-options="iconCls:'icon-ok'" style="padding:5px;">
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/ActionInfo/Index">所有订单</a>
                </div>
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/ActionInfo/Index">退款管理</a>
                </div>
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/ActionInfo/Index">退货管理</a>
                </div>
                <div>
                    <a href="javascript:void(0)" class="detailLink" url="/ActionInfo/Index">提货记录</a>
                </div>





            </div>

        </div>


    </div>

    <div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">south region</div>
    <div data-options="region:'center',title:'Center'">

        <div class="easyui-tabs" style="width:700px;height:250px" fit="true" id="tt">
            <div title="用户管理" style="padding:10px">
                <iframe src="/UserInfo/Index" width="100%" height="100%" frameborder="0"></iframe>
            </div>

        </div>






    </div>
</body>

</html>
