<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    
    <!--这里就是配置是否自定义显示错误页面-->
    <customErrors mode="On" redirectMode="ResponseRewrite">
      <!--如果是404的时候显示什么  有很多可以配置的东西 可以学习 多用用 只有出现404异常的会这里 
      其他找不到的异常还不是这里  着就是其他配置的问题了
      --> 
      <error statusCode="404" redirect="404.aspx"/>
      
    </customErrors>
  </system.web>

  <system.webServer>
    <!--生产环境千万不要打开  可以配置目录浏览的功能   配置网页的默认页面-->
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="portal.ashx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  
  
  <!--这个最新的编译器的一些特性 动态编译  运行的时候 编译-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
