@{ var Title = "Extending MVC Samples (from 'Professional ASP.NET MVC 4')"; }
<!DOCTYPE html>
<html>
    <head>
        <title>@Title</title>
        <style type="text/css">
            body {
                font-family: "Segoe UI", "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
                color: #232323;
                background-color: #fff;
                margin-left: 1em;
            }
        </style>
    </head>
    <body>
        <h2>@Title</h2>

        <h3>Extending Models</h3>
        <ul>
            <li><a href="~/ModelBinder">Model Binder Sample</a></li>
            <li><a href="~/FluentMetadata">Fluent Metadata Sample</a></li>
            <li><a href="~/FluentValidation">Fluent Validation Sample</a></li>
        </ul>

        <h3>Extending Views</h3>
        <ul>
            <li><a href="~/ActionNameSelector">Action Name Selector Sample</a></li>
            <li><a href="~/ActionMethodSelector">Action Method Selector Sample</a></li>
        </ul>

        <h3>Extending Controllers</h3>
        <ul>
            <li><a href="~/TimingFilter">Timing Filter Sample</a></li>
            <li><a href="~/CustomActionResult">Custom ActionResult Sample</a></li>
        </ul>
    </body>
</html>
