
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="/Home/AddUserInfo" method="post">

    用户名：<input type="text" name="txtUserName" value="" />
    邮箱： <input type="text" name="txtEmail" value="" />
    密码：<input type="password"  name="txtPassword" value="" />
       <input type="submit" name="name" value="提交" />
</form>